<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.cfg_des }}" />
    <meta name="keywords"  content="{{ site.cfg_key }}">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-agent" content="format=html5;url=http://mugeng.net">
    <title>{{site.cfg_name}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    {% assets 'css_all' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<div class="container">
    <div class="hero is-medium">
        <div class="hero-head">
            <div class="container">
                <div class="navbar-brand">
                    <img class="head_img" src="{{ url_for('static', filename='home/images/head.png') }}" alt="Logo">
                </div>
            </div>
            </nav>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-fullwidth">
                <div class="container">
                    <ul class="title tite_color has-text-white	nav-title is-6">
                        <li><a href="/">首页</a></li>
                        <li><a href="/category/qidanmugeng">契丹牧耕</a></li>
                        <li><a href="/category/yinxiangzuoqi">印象左旗</a></li>
                        <li><a href="/category/zuoqiwenhua">左旗文化</a></li>
                        <li><a href="/xiazai">公共品牌产品下载</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<section>
    <div class="container is-widescreen">
        <div class="columns cols is-multiline is-marginless">
            <div class="column  is-child is-6">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                            {% set posts = Post.query.filter(Post.recommend).all()%}
                            {% for post in posts %}{% if post.recommend == True %}
                        <div class="swiper-slide" style="height:380px;">
<a class="has-text-black" href="{{ url_for('.uuid_post',slug=slug) }}{{ post.slug }}"
   target="blank"><img style="height:380px;" src="{{ post.photo }}" alt=""><span>{{
    post.title|truncate(20)}}</span></a></div>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column coln is-6 ">
                <div class="tite_img">
                    <img src="{{ url_for('static', filename='home/images/tite.png') }}" alt="">
                    <p>契丹牧耕</p>
                    <span><a href="/category/qidanmugeng">更多..</a></span>
                </div>
             <ul>
                        {% for items in pagination.items %}
                        <li><a class="has-text-black" href="{{ url_for('.uuid_post',slug=slug) }}{{ items.slug }}" target="blank">{{ items.title|truncate(20) }}</a><span
                                class="is-pulled-right">[{{ items.timestamp.strftime
                                ("%m-%d") }}]</span></li>
                    {% endfor %}

                </ul>
            </div>

            <div class="column coln is-6 ">
                <div class="tite_img">
                    <img src="{{ url_for('static', filename='home/images/tite.png') }}" alt="">
                    <p>印象左旗</p>
                    <span><a href="/category/yinxiangzuoqi">更多..</a></span>
                </div>

                  <ul>
                   {% for items in pagination01.items %}
                        <li><a class="has-text-black" href="{{ url_for('.uuid_post',slug=slug) }}{{ items.slug }}" target="blank">{{ items.title|truncate(20) }}</a><span
                                class="is-pulled-right">[{{ items.timestamp.strftime
                                ("%m-%d") }}]</span></li>
                    {% endfor %}

                </ul>

            </div>
            <div class="column coln is-6 ">
                <div class="tite_img">
                    <img src="{{ url_for('static', filename='home/images/tite.png') }}" alt="">
                    <p>左旗文化</p>
                    <span><a href="/category/zuoqiwenhua">更多..</a></span>
                </div>

  <ul>
                    {% for items in pagination02.items %}
                        <li><a class="has-text-black" href="{{ url_for('.uuid_post',slug=slug) }}{{ items.slug }}" target="blank">{{ items.title|truncate(20) }}</a><span
                                class="is-pulled-right">[{{ items.timestamp.strftime
                                ("%m-%d") }}]</span></li>
                    {% endfor %}

                </ul>
            </div>
            <div class="column coln is-12 is-hidden-mobile">
                <img src="{{ url_for('static', filename='home/images/kuanfu.png') }}" alt="">
            </div>
             <div class="columns is-marginless footer">
                <div class="column is-hidden-mobile is-4">
                    <div class="container">
                        <div class="content has-text-right">
                            <div>
                                    <img src="{{ url_for('static', filename='home/images/footer_left.png')
                        }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-hidden-mobile is-4">
                    <div class="container ">
                        <div class="has-text-centered">
                            <nav class="level">
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info" href="/">网站首页</a>
                                </p>
                                |
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info"
                                       href="/category/qidanmugeng">契丹牧耕</a>
                                </p>
                                |
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info" href="/category/yinxiangzuoqi">印象左旗</a>
                                </p>
                                |
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link is-info"
                                       href="/category/zuoqiwenhua">左旗文化</a>
                                </p>
                            </nav>
                            <nav class="level is-marginless">
                                <div class="level-item has-text-centered is-hidden-mobile">
                                    <div>
                                        <p class="heading"><img src="{{ url_for('static', filename='home/images/erweima.png')}}" alt=""></p>
                                        <p class="subtitle is-6">公 众 号</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading"><img
                                                src="{{ url_for('static',filename='home/images/douyin.png')}}" alt=""></p>
                                        <p class="subtitle is-6">抖 音 号</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading"><img
                                                src="{{ url_for('static',filename='home/images/toutiao.png') }}" alt=""></p>
                                        <p class="subtitle is-6">头 条 号</p>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="container">
                        <div class="content has-text-left">
                            <strong>联系电话</strong>
                            <h4 class="title is-4">{{site.cfg_tel}}</h4>
                            <strong>联系地址</strong>
                            <p>
                                {{ site.cfg_add }}
                            </p>
                            <p>{{site.cfg_beian}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% assets 'js_all' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 5000,
        },
    })
</script>
</body>
</html>