<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ post.body|striptags|truncate(200) }}"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-agent" content="format=html5;url=https://mugeng.net/p/{{ post.slug }}">
    <title>{{ post.title }} - {{site.cfg_name}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    {% assets 'css_all' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<div class="container">
    <div class="hero is-medium">
        <div class="hero-head">
            <div class="container">
                <div class="navbar-brand">
                    <img class="head_img" src="{{ url_for('static',filename='home/images/head.png') }}" alt="Logo">
                </div>
            </div>
            </nav>
        </div>
           <div class="hero-foot">
            <nav class="tabs is-fullwidth">
                <div class="container">
                    <ul class="title tite_color has-text-white	nav-title is-6">
                        <li><a href="/">首页</a></li>
                        <li><a href="/category/qidanmugeng">契丹牧耕</a></li>
                        <li><a href="/category/yinxiangzuoqi">印象左旗</a></li>
                        <li><a href="/category/zuoqiwenhua">左旗文化</a></li>
                        <li><a href="/xiazai">公共品牌产品下载</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<section>
    <div class="container is-widescreen">
        <div class="columns  is-centered cols is-multiline is-marginless">
            <div class="column is-child is-10">
                <div class="container">
                    <div class="content has-text-justified">

                        <h1 class="has-text-centered">{{ post.title }}</h1>
                        <p class="has-text-centered">时间:{{ post.timestamp.strftime
                        ("%Y-%m-%d") }}&nbsp;&nbsp;
                            来源:{{ post.sources }}</p>
                        <hr>
                        <p>{{ post.body|safe }}</p>
                    </div>
                </div>
                <div class="has-text-centered is-hidden-mobile">
                    <p class="f10">扫一扫在手机打开当前页</p>
                    <img src="{{ qrcode("https://mugeng.net" +"/p/" + post.slug,box_size=5) }}"></p>
                </div>

            </div>
            <div class="columns is-marginless footer">
                <div class="column is-hidden-mobile is-4">
                    <div class="container">
                        <div class="content has-text-right">
                            <div>
                                    <img src="{{ url_for('static', filename='home/images/footer_left.png')
                        }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-hidden-mobile is-4">
                    <div class="container ">
                        <div class="has-text-centered">
                            <nav class="level">
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info" href="/">网站首页</a>
                                </p>
                                |
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info"
                                       href="/category/qidanmugeng">契丹牧耕</a>
                                </p>
                                |
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info" href="/category/yinxiangzuoqi">印象左旗</a>
                                </p>
                                |
                                <p class="level-item has-text-black has-text-centered">
                                    <a class="has-text-black link
                                    is-info" href="/category/zuoqiwenhua">左旗文化</a>
                                </p>
                            </nav>
                            <nav class="level is-marginless">
                                <div class="level-item has-text-centered is-hidden-mobile">
                                    <div>
                                        <p class="heading"><img
                                                src="{{ url_for('static',
                                                filename='home/images/erweima.png') }}"
                                                alt=""></p>
                                        <p class="subtitle is-6">公 众 号</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading"><img
                                                src="{{ url_for('static',
                                                filename='home/images/douyin.png')}}"
                                                alt=""></p>
                                        <p class="subtitle is-6">抖 音 号</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading"><img
                                                src="{{ url_for('static',
                                                filename='home/images/toutiao.png') }}"
                                                alt=""></p>
                                        <p class="subtitle is-6">头 条 号</p>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="container">
                        <div class="content has-text-left">
                            <strong>联系电话</strong>
                            <h4 class="title is-4">{{site.cfg_tel}}</h4>
                            <strong>联系地址</strong>
                            <p>
                                {{ site.cfg_add }}
                            </p>
                            <p>{{site.cfg_beian}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>